@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    .inter-<uniquifier> {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }
}

.container{
    max-width: 1920px;
    padding: 0 160px;
    margin: auto;
}
.header{
    padding-top: 20px;
    background-color: #EAECF0;
    
}